@import url(https://fonts.bunny.net/css?family=aleo:500,900);

:root
{
	--paper: #cfd6c4;
	--ink: #352200;
}

*, *::before, *::after
{
	box-sizing: border-box;
}

body
{
	background-color: var(--paper);
	color: var(--ink);
	font-family: 'Aleo', serif;
	font-size: clamp(1rem, 0.775rem + 1vi, 1.375rem);
	margin: 0 auto;
	padding: 1.25rem;
}

h1
{
	font-weight: 900;
	margin-inline: 0;
	line-height: 1.0;
}

h1, p
{
	padding: 0;
	margin-inline: 0;
}

@media (width >=25rem)
{
	main
	{
		min-height: 100dvh;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding-bottom: 3.75rem;
	}
	section
	{
		min-width: 18.75em;
	}
}





*:not(li)::selection
{
	color: red;
	background-color: yellow;
}